<div class="goalBar">
    <div class="row">
        <div data-sticky-container>
            <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1"
                data-btm-anchor="content:bottom">
                <div class="column small-6 colBar">{{name}}'s Daily Goals</div>
                <div class="column small-6 colBar"><i class="fas fa-utensils fa-lg bari"></i>Calorie Intake:
                    {{calories}}</div>
                <div class="column small-6 colBar"><i class="fas fa-running fa-lg bari"></i>Excercise: 30 mins
                </div>
                <div class="column small-6 colBar"><i class="fas fa-glass-whiskey fa-lg bari"></i>Water Intake:
                    8 glasses</div>
                <div class="column small-6 colBar"><i class="fas fa-bed fa-lg bari"></i>Sleep: 8 Hours</div>
                <div class="column small-6 colBar"><i class="fas fa-child fa-lg bari"></i>BMI: {{bmi}}</div>

            </div>
        </div>
    </div>
</div>