<div class="goalBar">
    <div class="row">
        <div data-sticky-container>
            <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1"
                data-btm-anchor="content:bottom">
                <div>{{user.name}}, let's track your wellness journey!</div> 
            </div>
        </div>
    </div>
</div>