            <!-- login form -->
            <form class="container" id="loginForm">
                <h3>Login Here</h3>
                <div class="row columns">
                    <label>Email
                        <input class="loginEmail" type="text" name="keyword" placeholder="Enter here">
                    </label>
                </div>
                <div class="row columns">
                    <label>Password
                        <input class="loginPassword" type="text" name="keyword" placeholder="Enter here">
                    </label>
                </div>
                <button type="submit" class="primary button expanded search-button">
                    Submit
                </button>
            </form>