<div class="grid-container">
  <div class="grid-x grid-padding-x medium-unstack equal-height-cards">
    <div class="cell medium-4">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{sixty}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      {{!-- <div class="card">
        <div class="card-section" data-name="">
          <img src="https://unsplash.it/500/300/">
          <h4>This is a card.</h4>
           <h1>{{sixty}}</h1>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
        <div class="card-divider">
          <ul class="menu">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div> --}}
    </div>
  </div>
</div>