<form class="container" id="signupForm">
                <h4>Enter Your Details</h4>
                <div class="row columns">
                    <label>Name
                        <input class="usernameInput" type="text" name="keyword" placeholder="Enter here">
                    </label>
                </div>
                <div class="row columns">
                    <label>Email
                        <input class="emailInput" type="text" name="keyword" placeholder="Enter here">
                    </label>
                </div>
                <div class="row columns">
                    <label>Password
                        <input class="passwordInput" type="password" name="keyword" placeholder="Enter here">
                    </label>
                </div>
                <div class="row columns">
                    <label>Height
                        <input class="heightInput" type="text" name="location" placeholder="Enter in cm">
                    </label>
                </div>
                <div class="row columns">
                    <label>Weight
                        <input class="weightInput" type="text" name="location" placeholder="Enter in kg">
                    </label>
                </div>
                <div class="row columns">
                    <label>Age
                        <input class="ageInput"type="text" name="location" placeholder="Enter here">
                    </label>
                </div>
                <div class="row columns">
                    <label>Gender
                        <select class="genderInput" name="status" type="text" placeholder="Enter in kg">
                            <option value="">Select gender</option>
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                        </select>
                    </label>
                </div>
                <div class="row columns">
                    <label>Food Preference
                        <select class="foodInput" name="status" type="text">
                            <option value="None">None</option>
                            <option value="Vegetarian">Vegetarian</option>
                            <option value="Vegan">Vegan</option>
                            <option value="Paleo">Paleo</option>
                            <option value="Gluten Free">Gluten Free</option>
                        </select>
                    </label>
                </div>
                <div class="row columns">
                    <label>Activity
                        <select class="activityInput" name="status" type="text">
                            <option value="">Select activity level most suited to you</option>
                            <option value="Sedentary">Sedentary - little to no excercise + work a desk job</option>
                            <option value="Light">Light - light excercise 1-3 days/week</option>
                            <option value="Moderate">Moderate - moderate excercise 3-5 days/week</option>
                            <option value="High">High - heavy excercise 6-7 days/week</option>
                            <option value="Extreme">Extreme - very heavy excercise, hard labor job, training 2x/day</option>
                        </select>
                    </label>
                </div>
                <div class="row columns">
                    <label>Goal
                        <select class="goalInput" name="status" type="text">
                            <option value="">Choose your weight goal</option>
                            <option value="Reduction">Lose weight</option>
                            <option value="Maintain">Maintain current weight</option>
                            <option value="Gain">Gain weight</option>
                        </select>
                    </label>
                </div>
                <button type="submit" class="primary button expanded search-button">
                    Submit
                </button>
            </form>
