<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
        integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>Well Me</title>
</head>

<body>
    {{{ body }}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/55b8ef16f8.js" crossorigin="anonymous"></script>
    <script src="../../public/js/foundation.min.js"></script>
    <script src="../../public/js/login.js"></script>
    <script src="../../public/js/members.js"></script>
    <script src="../../public/js/signup.js"></script>
    <script src="../../public/js/graph.js"></script>
</body>

</html>