<nav id="navBar">
    <div class="top-bar">
        <div class="top-bar-left">
            <h1 class="menu-text">Well <i class="fas fa-heart"></i> Me</h1>
        </div>
        <div class="top-bar-right">
            <ul class="vertical medium-horizontal dropdown menu align-right text-black" id="nav-menu"
                data-dropdown-menu>
                <li><a href="/">Home</a></li>
                <li><a href="/members">Daily Log</a></li>
                <li class="is-active"><a href="#">Weekly Results</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- background image for page -->
<div class="bg-img">
    <div class="row">
        <div class="columns small-12">

            <!-- log daily form add hide class when calculated -->
            <div class="graphDiv">
                <div class="translucent-form-overlay">
                    <form class="container" id="signupForm">
                        <h3 class="text-center">Your Weekly Results</h3>
                        <p class="memIntro text-center">How did you go this week?</p>

                        {{!-- Graph goes here --}}
                        <div class="container">
    <div class="row">
            <div class="card col-12">
              <div class="row">
                <div class="card-body col-6">
                  <canvas id="water"></canvas>
                </div>
                <div class="card-body col-6"> 
                  <canvas id="calories"></canvas>
                </div>
              </div>
            </div>
    </div>


<script>
    new Chart(document.getElementById("water"), {
  type: 'line',
  data: {
    labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
    datasets: [{ 
        data: [4,2,3,3,1,2,3],
        label: "Water Intake",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Water Intake (in litres)'
    }
  }
});
</script>

                        <p class="memIntro text-center">If you didn't reach your goals this week {{name}} don't worry. Each day offers a fresh start. It's important to to keep logging your daily results so you can see patterns. Making small tweaks to your routine can have a huge impact on your results. Keep up the good Work {{name}}! </p>
                        
    </div>
</div>