<nav id="navBar">
    <div class="top-bar">
        <div class="top-bar-left">
            <h1 class="menu-text">Well <i class="fas fa-heart"></i> Me</h1>
        </div>
        <div class="top-bar-right">
            <ul class="vertical medium-horizontal dropdown menu align-right text-black" id="nav-menu"
                data-dropdown-menu>
                <li><a href="/">Home</a></li>
                <li><a href="/members">Daily Log</a></li>
                <li class="is-active"><a href="#">Weekly Results</a></li>
                <li><a href="/recipeInspiration">Recipes</a></li>
                <li><a href="/logout" class="logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

{{>graph-bar user=user}}
<!-- background image for page -->
<div class="bg-img">
    <div class="row">
        <div class="columns small-12">

            <!--graph section -->
            <div class="graphDiv">
                <div class="translucent-form-overlay">
                    <form class="container" id="signupForm">
                        <h3 class="text-center">Your Weekly Results</h3>
                        <p class="memIntro text-center">How did you go this week?</p>

                        {{!-- Graph goes here --}}
  <div class="container">
    <div class="row">
      <div class="card col-12">
        <div class="row">
          <div class="card-body col-6">
            <canvas id="weekly-result"></canvas>
          </div>
        </div>
      </div>
    </div>


    <script>
      new Chart(document.getElementById("weekly-result"), {
        type: 'bar',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [
            {
              label: "Water Intake",
              backgroundColor: "#3e95cd",
              data: [7, 6, 5, 5, 6, 7, 5]
            }, {
              label: "Calorie Intake",
              backgroundColor: "#8e5ea2",
              data: [4, 6, 8, 5, 6, 4, 6]
            }, {
              label: "Excercise",
              backgroundColor: "#3cba9f",
              data: [6, 5, 4, 5, 6, 7, 9]
            }, {
              label: "Sleep",
              backgroundColor: "#e8c3b9",
              data: [7, 6, 6, 7, 8, 8, 7]
            }
          ]
        },

options: {
      
        title: {
        display: true,
        text: 'Self Score (Rating 1-10)'
      }
    },
    options: {
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
    },
    }
});
</script>
                        
    </div>
</div>