<nav id="navBar">
    <div class="top-bar">
        <div class="top-bar-left">
            <h1 class="menu-text">Well <i class="fas fa-heart"></i> Me</h1>
        </div>
        <div class="top-bar-right">
            <ul class="vertical medium-horizontal dropdown menu align-right text-black" id="nav-menu"
                data-dropdown-menu>
                <li><a href="/">Home</a></li>
                <li class="is-active"><a href="#">Daily Log</a></li>
                <li><a href="/graph">Weekly Results</a></li>
                <li><a href="/logout" class="logout">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>

<!-- handlebars partials for members page only goals bar -->
{{>goal-bar name=name}}


<!-- background image for page -->
<div class="bg-img">
    <div class="row">
        <div class="columns small-12 large-6">
            <!-- log daily form add hide class when calculated -->
            <div class="translucent-form-overlay">
                <div class="logForm">
                    <form class="container" id="dailyLogForm">
                        <h3 class="text-center">Log Your Day</h3>
                        <p class="memIntro text-center">Did you meet your goals today {{name}}?</p>
                        <p class="memIntro text-center">On a scale from <b>0</b> <i>Nope not today</i> to <b>10</b>
                            <i>Yeah I Nailed it!</i> Move the Sliders below
                        </p>
                        <!-- calories input slider -->
                        <label>Calories</label>
                        <div class="grid-x grid-margin-x">
                            <div class="cell small-10">
                                <div class="slider" data-slider data-initial-start="0" data-end="10">
                                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"
                                        aria-controls="sliderOutputCalories"></span>
                                    <span class="slider-fill" data-slider-fill></span>
                                </div>
                            </div>
                            <div class="cell small-2">
                                <input type="number" id="sliderOutputCalories">
                            </div>
                        </div>
                        <!-- exercise input slider -->
                        <label>Excercise</label>
                        <div class="grid-x grid-margin-x">
                            <div class="cell small-10">
                                <div id="excerciseInput" class="slider" data-slider data-initial-start="0"
                                    data-end="10">
                                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"
                                        aria-controls="sliderOutputExcercise"></span>
                                    <span class="slider-fill" data-slider-fill></span>
                                </div>
                            </div>
                            <div class="cell small-2">
                                <input type="number" id="sliderOutputExcercise">
                            </div>
                        </div>
                        <!-- water intake slider -->
                        <label>Water Intake</label>
                        <div class="grid-x grid-margin-x">
                            <div class="cell small-10">
                                <div id="waterInput" class="slider" data-slider data-initial-start="0" data-end="10">
                                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"
                                        aria-controls="sliderOutputWater"></span>
                                    <span class="slider-fill" data-slider-fill></span>
                                </div>
                            </div>
                            <div class="cell small-2">
                                <input type="number" id="sliderOutputWater">
                            </div>
                        </div>
                        <!-- sleep intake slider -->
                        <label>Sleep</label>
                        <div class="grid-x grid-margin-x">
                            <div class="cell small-10">
                                <div id="sleepInput" class="slider" data-slider data-initial-start="0" data-end="10">
                                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"
                                        aria-controls="sliderOutputSleep"></span>
                                    <span class="slider-fill" data-slider-fill></span>
                                </div>
                            </div>
                            <div class="cell small-2">
                                <input type="number" id="sliderOutputSleep">
                            </div>
                        </div>
                        <button id="dailylogBtn" type="submit" class="primary button expanded search-button">
                            Submit
                        </button>
                    </form>
                </div>
                <!-- Daily Score Form Remove hide class when calculated-->
                <div class="scoreForm hide">
                    <h3 class="text-center">Your Wellbeing Score is</h3>
                    <p class="memIntro text-center">{{dbDailylog}}</p>
                    <p class="inspoQuote text-center">"<i>{{quote}}</i>"</p>
                    <button type="submit" class="primary button expanded search-button round" href="./graph">
                        View Your Weekly Results Here
                    </button>
                </div>
            </div>
        </div>

        <!-- recipe section -->
        <div class="columns small-12 large-6">

            <!-- recipes go here when API called on page load -->

        </div>
    </div>
</div>