<nav id="navBar">
    <div class="top-bar">
        <div class="top-bar-left">
            <h1 class="menu-text">Well <i class="fas fa-heart"></i> Me</h1>
        </div>
        <div class="top-bar-right">
            <ul class="vertical medium-horizontal dropdown menu align-right text-black" id="nav-menu"
                data-dropdown-menu>
                <li class="is-active"><a href="#">Home</a></li>
                <li><a href="/graph">Weekly Results</a></li>
                <li><a href="/recipeInspiration">Recipes</a></li>
                <li><a href="/logout" class="logout">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>

<!-- handlebars partials for members page only goals bar -->
{{>goal-bar name=name}}


<!-- background image for page -->
<div class="bg-img">
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            {{!-- EXAMPLE OF PASSING INFO FROM html-routes to MEMBERS HANDLEBARS --}}
            {{!-- TODO  --}}
            <h1>{{four}}</h1>
            <!-- log daily form add hide class when calculated -->
            <div class="translucent-form-overlay">
                <div class="logForm">
                    <form class="container" id="dailyLogForm">
                        <h3 class="text-center">Log Your Day</h3>
                        <p class="memIntro text-center">Did you meet your goals today {{name}}?</p>
                        <p class="memIntro text-center">On a scale from <b>0</b> <i>Nope not today</i> to <b>10</b>
                            <i>Yeah I Nailed it!</i> Move the Sliders below
                        </p>
                        <!-- calories input slider -->
                        <label>Calories</label>
                        <div class="row">
                            <div class="col-sm-10">
                                <div id="calorieInput" class="slider" data-slider data-initial-start="0" data-end="10">
                                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"
                                        aria-controls="sliderOutputCalories"></span>
                                    <span class="slider-fill" data-slider-fill></span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <input type="number" id="sliderOutputCalories">
                            </div>
                        </div>

                        <!-- exercise input slider -->
                        <label>Excercise</label>
                        <div class="row">
                            <div class="col-sm-10">
                                <div id="exerciseInput" class="slider" data-slider data-initial-start="0" data-end="10">
                                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"
                                        aria-controls="sliderOutputExercise"></span>
                                    <span class="slider-fill" data-slider-fill></span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <input type="number" id="sliderOutputExercise">
                            </div>
                        </div>
                        <!-- water intake slider -->
                        <label>Water Intake</label>
                        <div class="row">
                            <div class="col-sm-10">
                                <div id="waterInput" class="slider" data-slider data-initial-start="0" data-end="10">
                                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"
                                        aria-controls="sliderOutputWater"></span>
                                    <span class="slider-fill" data-slider-fill></span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <input type="number" id="sliderOutputWater">
                            </div>
                        </div>
                        <!-- sleep intake slider -->
                        <label>Sleep</label>
                        <div class="row">
                            <div class="col-sm-10">
                                <div id="sleepInput" class="slider" data-slider data-initial-start="0" data-end="10">
                                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"
                                        aria-controls="sliderOutputSleep"></span>
                                    <span class="slider-fill" data-slider-fill></span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <input type="number" id="sliderOutputSleep">
                            </div>
                        </div>
                        <button id="dailylogBtn" type="submit" class="primary button expanded search-button">
                            Submit
                        </button>
                    </form>
                    <!-- Daily Score Form Remove hide class when calculated-->
                    <form class="container hide" id="dailyScoreForm">
                        <h3 class="text-center">Your Wellbeing Score is</h3>
                        <h4 id="score" class="memIntro text-center"></h4>
                        <p class="inspoQuote text-center"><i>{{quote}}</i></p>
                        <button type="submit" class="primary button expanded search-button round" href="./graph">
                            View Your Weekly Results Here
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6">
            {{!-- view recipes --}}
            <div class="row">
                <div id="recipeLink" class="col-sm-12 col-lg-6">
                    <div class="translucent-form-overlay">
                        <h3 class="text-center">Recipe Inspiration</h3>
                        <p class="recipeIntro text-center">Find healthy recipes based on your food preference and
                            recommended calorie intake.</p>
                        <img class="recipeImg" src="../assets/healthyCooking.jpg">
                    </div>
                </div>
            </div>
            <!-- update weight goals-->
            <div class="row">
                <div id="changeWeight" class="col-sm-12 col-lg-6">
                    <div class="translucent-form-overlay">
                        <form class="container" id="changeYourWeight">
                            <h3 class="text-center">Update your Weight</h3>
                            <div class="row columns">
                                <label>Weight
                                    <input class="weightUpdate" type="text" name="location" placeholder="Enter in kg">
                                </label>
                            </div>
                            <div class="row columns">
                                <label>Activity
                                    <select class="activityUpdate" name="status" type="text">
                                        <option value="">Select activity level most suited to you</option>
                                        <option value="sedentary">Sedentary - little to no excercise + work a desk
                                            job
                                        </option>
                                        <option value="light">Light - light excercise 1-3 days/week</option>
                                        <option value="moderate">Moderate - moderate excercise 3-5 days/week
                                        </option>
                                        <option value="high">High - heavy excercise 6-7 days/week</option>
                                        <option value="extreme">Extreme - very heavy excercise, hard labor job,
                                            training
                                            2x/day</option>
                                    </select>
                                </label>
                            </div>
                            <div class="row columns">
                                <label>Goal
                                    <select class="goalUpdate" name="status" type="text">
                                        <option value="">Choose your weight goal</option>
                                        <option value="reduction">Lose weight</option>
                                        <option value="maintain">Maintain current weight</option>
                                        <option value="gain">Gain weight</option>
                                    </select>
                                </label>
                            </div>
                            <button type="submit" class="primary button expanded search-button">
                                Submit
                            </button>
                            {{!-- toast when user goals are updated --}}

                        </form>
                    </div>
                </div>
            </div>


<<<<<<< HEAD
            <!-- recipes go here when API called on page load -->
            {{>recipes}}
=======
>>>>>>> 306a4dd28801cfc1164dc08362f41e653b3a7d4a
        </div>
    </div>
</div>
</div>