<nav id="navBar">
        <div class="top-bar">
            <div class="top-bar-left">
                <h1 class="menu-text">Well <i class="fas fa-heart"></i> Me</h1>
            </div>
            <div class="top-bar-right">
                <ul class="vertical medium-horizontal dropdown menu align-right text-black" id="nav-menu"
                    data-dropdown-menu>
                    <li><a href="./members">Home</a></li>
                    <li><a href="./graph ">Weekly Results</a></li>
                    <li class="is-active"><a href="#">Recipes</a></li>
                <li><a href="/logout" class="logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
  
    {{>recipes-goal-bar name=name}}
    <div class="bg-img">
         {{!-- recipe cards go here  --}}
            {{>recipes}}
    </div>