<nav id="navBar">
    <div class="top-bar">
        <div class="top-bar-left">
            <h1 class="menu-text">Well <i class="fas fa-heart"></i> Me</h1>
        </div>
        <div class="top-bar-right">
            <ul class="vertical medium-horizontal dropdown menu align-right text-black" id="nav-menu"
                data-dropdown-menu>
                <li class="is-active"><a href="#">Sign-up</a></li>
                <li><a href="./login">Login</a></li>
                
            </ul>
        </div>
    </div>
</nav>
<div class="goalBar">
    <div class="row">
        <div data-sticky-container>
            <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1"
                data-btm-anchor="content:bottom">
                <div>Helping you reach your fitness goals faster! </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-img">
    <a class="button small large-down-expanded" id="getLoginForm" href="./login">Already a Member? Login Here</a>


    <!-- form container -->
    <div class="translucent-form-overlay">
        <!-- sign-up form -->
        {{>signupform}}
    </div>
</div>