/* navbar */
.top-bar ul li > a {
    background-color: white;
    color: black;
  }
  h1 {
    padding-left: 20px;
  }
  .top-bar {
    background: white;
    padding: 0px;
    margin: 0px;
  }
  .menu {
    background: white;
  }
  .is-active{
    background-color: white;
  }
  /* goals bar */
  .title-bar {
    height: 70px;
    align-items: center;
  }
  .colBar {
    padding: 20px;
    font-weight: 600;
    font-size: large;
  }
  .bari {
    padding-right: 20px;
  }
  /* body */
  .row {
    --bs-gutter-x: 0rem !important;
  }
  /* button */
  #getLoginForm {
      padding: 10px;
      margin-left: 100px;
      margin-top: 30px;
      border-radius: 0.5rem;
  }
  label {
    font-size: 18px;
  }
  /* goals bar */
  .title-bar {
    height: 70px;
    align-items: center;
  }
  .colBar {
    padding: 20px;
  }
  .bari {
    padding-right: 20px;
  }
  /* Form */
  .translucent-form-overlay {
    background-color: rgba(54, 54, 54, 0.8);
    position: absolute;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    color: white;
    margin-left: 80px;
    margin-top: 70px;
    border-radius: 0.5rem;
  }
  .columns.row {
    display: block;
  }
  h3,
  label {
    color: white;
  }
  input,
  select {
    color: dark-gray;
  }
  input::placeholder {
    color: dark-gray;
  }
  .cell{
    padding-bottom: 0px;
  }
  /* background Image */
  body,
  html {
    height: 100%;
  }
  input, select{
     height: 1.8rem !important;
  }
  * {
    box-sizing: border-box;
  }
  .bg-img {
    /* The image used */
    background-image: url("../assets/cropgrass.jpg");
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%,
  }
  
  /* Cards CSS */

  /* buttons */
    .button {
      border-radius: 0.5rem;
      font-weight: 700;
    }
    .button.primary {
      background-color: #08d489;
    }


  /* Cards Helper CSS */
    .card-color {
      background-color: rgba(54, 54, 54, 0.8)!important;
      color: white;
    }
    .font {
      font-size: 1rem; 
    }

    a {
      text-decoration: none!important;
    }

    .button-position {
      bottom:auto;
    }

    .card-height {
      display: flex;
      align-items: stretch;
    }
    
    .row-helper {
      /* align-content: space-around; */
      /* justify-content: space-around; */
    }

    .justify-space-even {
      justify-content: space-evenly;
    }

    .card-width {
      min-width: 15rem;
      max-width: 18rem;
      width:auto;
    }

    .btn-helper {
      background-color: #08d489;
      /* position:relative; */
    }

  
  /*Styling for goal bar*/
  .title-bar {
    height: 70px;
    background: #08d489;
    color: #ffffff;
    justify-content: space-evenly;
    font-size: 18px;
  }
  
  .slider-handle {
    background-color: #08d489;
  }
  
  .fa-heart {
    color: red;
  }
  
  .button.primary {
    background-color: #08d489;
  }
  
  .fa-utensils, .fa-running, .fa-glass-whiskey, .fa-bed, .fa-child {
    padding-right: 10px;
  }
  
  .dropdown.menu>li.is-active>a {
    background: 0 0;
    color:  #08d489;
  }
  
  .label {
    font-size: 18px;
  }
  .recipeImg{
    border-radius: 0.5rem;
    margin-left: 0px;
  }